<div class="contenedor">

  <div class="bienvenida"><h1>Bienvenido, por favor inserta tu tarjeta</h1></div>
  <div class="retiro">
    <div class="l"><h3>Retiros</h3></div>
  </div>
  
  <div class="contenedor2">
    <div class="monto">
      <label for="monto">Monto a retirar:</label>
      <input type="number" id="monto" [(ngModel)]="montoSolicitado">
      <button (click)="dispensarDinero()">Dispensar</button>
    </div>

    <div class="ciclo">
      <div *ngFor="let denominacion of denominaciones; let i = index">
        <p>La cantidad de billetes de ${{denominacion}} es {{billetes[i]}}</p>
      </div>
    </div>
  </div>
</div>

